/*----------------------------------Header----------------------------------------------*/

body{
    margin: 0;
    background-color:  #FEF7A2;
}
.header{
    width: auto;
    height: auto;
    border-bottom: 1px solid grey;
    background-color: #A9D0D8;
   /*background: linear-gradient(
        to bottom right,
        slateblue 5%,
        paleturquoise 40%,
        slateblue 100%)*/

}
.logo{
    margin-left: 10px;
    position: relative;
    top: 30px;
}
.logoimg{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 10px 20px darkblue;
    transition: 1s;
}
.logoimg:hover{
    width: 90px;
    height: 90px;
}
.navbar{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    border: 2px solid #104B4B;
    border-radius: 20px;
    box-shadow: 0px 7px 20px darkblue;
    display: inline;
    padding: 10px;
    text-align: center;
    background-color: #C5EDF6;
    position: relative;
    left: 90px;
    top: -40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -20px;
    margin-bottom: -5px;
}
.nav{
    text-decoration: none;
    color: black;
    padding-right: 13px;
    padding-left: 16px;
    transform: none;
    transition: 1s;
}
.nav:hover{
    color: #031DCD;
    font-size: large;
}

/*--------------------------------Course DropDown-----------------------------------------*/
.coursedropdownbar{
    position: relative;
    display: inline-block;
}
.navcourse{
    text-decoration: none;
    color: black;
    padding-right: 19px;
    padding-left: 20px;
    transform: none;
    transition: 1s;
}
.navcourse:hover{
    color: #031DCD;
    font-size: large;
}
.coursedropdown {
    display: none;
    position: absolute;
    background-color: #C5EDF6;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px darkblue;
    z-index: 1;
    border: 1px solid black;
    border-radius: 20px;
}

.coursedropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #104B4B;
    border-radius: 20px;
    transition: 1s;
}

.coursedropdown a:hover {
    background-color: #A9D0D8;
    font-size: large;
}

.coursedropdownbar:hover .coursedropdown {
    display: block;
}


/*---------------------------------Search Bar and Cart-----------------------------------------------*/
.searchbaricon{
    display: inline-block;
    position: relative;
    left: 290px;
    top: -30px;
    border: 1px solid #104B4B;
    border-radius: 20px;
    box-shadow: 10px darkblue;
    padding: 3px;
    background-color: #C5EDF6;
    transition: 1s;
}
.searchbaricon:hover{
    font-size: large;
}
.searchbar{
    display: inline-block;
    font-family: sans-serif;
    font-size: 17px;
    padding-right: 5px;
}
input[type=textbox] {
    display: inline-block;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #104B4B;
    border-radius: 20px;
    box-shadow: 0px 10px 20px darkblue;
    font-size: 15px;
    background-color: #C5EDF6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    transition: 1s;
    position: relative;
    left: 300px;
    top: -40px;
}

input[type=textbox]:hover {
    font-size: large;
  background-color: #A9D0D8;
}
.cart{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    border: 2px solid #104B4B;
    border-radius: 20px;
    box-shadow: 0px 10px 20px darkblue;
    display: inline;
    padding: 10px;
    text-align: center;
    background-color: #C5EDF6;
    position: relative;
    left: 300px;
    top: -40px;
}
.carticon{
    text-decoration: none;
    color: black;
    transform: none;
    transition: 1s;
}
.carticon:hover{
    color: #031DCD;
    font-size: large;
}

/*---------------------subheader-----------------------------------------*/

.subheader{
    width: auto;
    height: auto;
    border-bottom: 1px solid grey;
    box-shadow: 0px 7px 10px darkblue;
    background-color: #C5EDF6;
}
.subnavbar{
    display: inline-block;
    margin: 10px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-left: 20px;
}
.subnav{
    text-decoration: none;
    color: black;
    padding-right: 30px;
    position: relative;
    left: 100px;
    text-transform: none;
}
.subnav:hover{
    color: #031DCD;
    font-size: 90%;
}
.help{
    display: inline-block;
    margin: 10px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.helpicon{
    text-decoration: none;
    color: black;
    position: relative;
    left: 720px;
}
.helpicon:hover{
    color: #031DCD;
    font-size: 90%;
}

/*-------------------------footer-------------------------------------*/

.footer{
    width: auto;
    height: auto;
    background-color: #A9D0D8;
    border-top: 1px solid grey;
    display: flex;
}
.first{
    width: 40%;
    height: auto;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    line-height: 2;
}
.sitemap{
    text-decoration: none;
    color: black;
}
.sitemap:hover{
    color: #031DCD;
    font-size: 90%;
}
.second{
    width: 30%;
    height: auto;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 10px;
    line-height: 2;
    padding-bottom: 10px;
}
.quicklink{
    text-decoration: none;
    color: black;
}
.quicklink:hover{
    color: #031DCD;
    font-size: 90%;
}
.third{
    width: 30%;
    height: auto;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
    padding-left: 140px;
    padding-top: 10px;
    line-height: 3;
    padding-bottom: 10px;
}
.socialmedia{
    text-decoration: none;
    transition: 1s;
}
.socialmedia:hover{
    font-size: xx-large;
}

/*----------------------------About Us-------------------------------------*/

.coursetitlebox{
    width: auto;
    height: auto;
    padding-bottom: 50px;
    padding-top: 40px;

}
.coursetitle{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid #104B4B;
    border-radius: 30px;
    box-shadow: 0px 10px 20px darkblue;
    display: inline;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: #C5EDF6;
    transition: 2s;
}
.coursetitle:hover{
    font-size: large;
    color: #2A5B59;
}
.certibottomvid{
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-bottom: 30px;
    padding: 10px;
    background-color:;
}
.certibottomvidborder{
    background-color: #111657;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 1px 10px 20px darkblue;
}
.userguide{
    width: auto;
    margin: 20px;
    background-color: #C5EDF6;
    border: 2px solid black;
    box-shadow: 0px 10px 20px darkblue;
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding: 20px;
}
.userguide:hover{
    color: #2A5B59;
}

.customtext2{
    display: inline-block;
    width: auto;
    height: 80%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    padding-top: 20px;
}
.customboxcustom{
    width: auto;
    height: auto;
    padding-top: 0px;
    display: flex;

}
.customrow{
    width: auto;
    height: auto;
    display: flex;
    background-color: ;
    padding-top: 50px;
}
.customtext{
    width: 50%;
    height: auto;
    border: 0px solid black;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 100px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
}

.scubaimage{
    width: 50%;
    height: auto;
    border: 0px solid black;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 90px;
    box-sizing: border-box;
}
.scubaimageborder{
    border: 2px solid  black;
    border-radius: 20px;
    box-shadow: 0px 10px 20px darkblue;
    transition: 2s;
}
.scubaimageborder:hover{
    width: 550px;
    height: 500px;
}